<!DOCTYPE html>
<html lang="es">
	<%-include('../partials/head') %>
	<body>
		<%-include('../partials/header') %> <%-include('../partials/nav') %>

		<main class="d-md-flex justify-content-around mx-auto p-3" style="background-color: #eee">
			<div
				id="carouselExampleDark"
				class="carousel carousel-dark slide d-md-none mb-3"
				data-bs-ride="true"
			>
				<div class="carousel-indicators">
					<button
						type="button"
						data-bs-target="#carouselExampleDark"
						data-bs-slide-to="0"
						class="active"
						aria-current="true"
						aria-label="Slide 1"
					></button>
					<button
						type="button"
						data-bs-target="#carouselExampleDark"
						data-bs-slide-to="1"
						aria-label="Slide 2"
					></button>
					<button
						type="button"
						data-bs-target="#carouselExampleDark"
						data-bs-slide-to="2"
						aria-label="Slide 3"
					></button>
				</div>
				<div
					class="carousel-inner"
					data-bs-interval="2000"
					style="max-height: 45rem"
				>
					<div class="carousel-item active">
						<img
							src="/imagenes/products/<%= producto.image %>"
							class="d-block w-100"
							alt="visera_vista_1"
						/>
					</div>
					<div class="carousel-item" data-bs-interval="4000">
						<img
							src="/imagenes/products/<%= producto.image %>"
							class="d-block w-100"
							alt="visera_vista_2"
						/>
					</div>
					<div class="carousel-item" data-bs-interval="4000">
						<img
							src="/imagenes/products/<%= producto.image %>"
							class="d-block w-100"
							alt="visera_vista_3"
						/>
					</div>
				</div>
				<button
					class="carousel-control-prev"
					type="button"
					data-bs-target="#carouselExampleDark"
					data-bs-slide="prev"
				>
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button
					class="carousel-control-next"
					type="button"
					data-bs-target="#carouselExampleDark"
					data-bs-slide="next"
				>
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>

			<section class="mb-5 d-md-none">
				<nav
					class="d-md-none"
					style="
						--bs-breadcrumb-divider: url(
							&#34;data:image/svg + xml,
							%3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='%236c757d'/%3E%3C/svg%3E&#34;
						);
					"
					aria-label="breadcrumb"
				>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page"><%= producto.type %></li>
					</ol>
				</nav>

				<div class="d-flex justify-content-between align-items-center mb-3">
					<div class="d-flex justify-content-left align-items-center">
						<p class="my-0 me-3 fs-4 fw-bold"><%= producto.name %></p>
						<a href="#">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="25"
								height="25"
								fill="rgb(255, 240, 0)"
								class="bi bi-star"
								viewBox="0 0 16 16"
							>
								<path
									d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
								/>
							</svg>
						</a>
					</div>

					<button>
						<a href="/products/edicionProducto/<%= producto.id %>" class="text-decoration-none text-dark"><i class="fa-solid fa-pen-to-square"></i></a>
					</button>
				</div>

				<p class="fs-5">$<%= producto.price %></p>
				<div class="text-center mb-3">
					<ul
						class="nav justify-content-center align-items-center mx-auto mb-1"
						style="max-width: 400px"
					>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-3" href="#">
								<button
									type="button"
									class="btn btn-light border"
									style="
										background-color: white;
										width: 22px;
										height: 22px;
										padding: 6px 0px;
										border-radius: 15px;
									"
								></button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-3" href="#">
								<button
									type="button"
									class="btn btn-light border"
									style="
										background-color: gray;
										width: 22px;
										height: 22px;
										padding: 6px 0px;
										border-radius: 15px;
									"
								></button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-3" href="#">
								<button
									type="button"
									class="btn btn-light border"
									style="
										background-color: blue;
										width: 22px;
										height: 22px;
										padding: 6px 0px;
										border-radius: 15px;
									"
								></button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-3" href="#">
								<button
									type="button"
									class="btn btn-light border"
									style="
										background-color: red;
										width: 22px;
										height: 22px;
										padding: 6px 0px;
										border-radius: 15px;
									"
								></button>
							</a>
						</li>
						<li class="nav-item">
							<a
								class="nav-link p-0 my-2 mx-3"
								href="#"
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="true"
							>
								<button
									type="button"
									class="btn btn-light border"
									style="
										background-color: yellow;
										width: 22px;
										height: 22px;
										padding: 6px 0px;
										border-radius: 15px;
									"
								></button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-3" href="#">
								<button
									type="button"
									class="btn btn-light border"
									style="
										background-color: orange;
										width: 22px;
										height: 22px;
										padding: 6px 0px;
										border-radius: 15px;
									"
								></button>
							</a>
						</li>
					</ul>
					<label>Colores disponibles</label>
				</div>
				<p class="fs-4">Tallas</p>
				<ul
					class="nav justify-content-center align-items-center mx-auto mb-3"
					style="max-width: 650px"
				>
					<li class="nav-item">
						<a class="nav-link p-0 my-2 mx-2" href="#">
							<button
								style="width: 60px"
								type="button"
								class="btn btn-outline-secondary"
							>
								8
							</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link p-0 my-2 mx-2" href="#">
							<button
								style="width: 60px"
								type="button"
								class="btn btn-outline-secondary"
							>
								8.5
							</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link p-0 my-2 mx-2" href="#">
							<button
								style="width: 60px"
								type="button"
								class="btn btn-outline-secondary"
							>
								9
							</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link p-0 my-2 mx-2" href="#">
							<button
								style="width: 60px"
								type="button"
								class="btn btn-outline-secondary"
							>
								9.5
							</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link p-0 my-2 mx-2" href="#">
							<button
								style="width: 60px"
								type="button"
								class="btn btn-outline-secondary"
							>
								10
							</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link p-0 my-2 mx-2" href="#">
							<button
								style="width: 60px"
								type="button"
								class="btn btn-outline-secondary text-center"
							>
								10.5
							</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link p-0 my-2 mx-2" href="#">
							<button
								style="width: 60px"
								type="button"
								class="btn btn-outline-secondary"
							>
								11
							</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link p-0 my-2 mx-2" href="#">
							<button
								style="width: 60px"
								type="button"
								class="btn btn-outline-secondary"
							>
								11.5
							</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link p-0 my-2 mx-2" href="#">
							<button
								style="width: 60px"
								type="button"
								class="btn btn-outline-secondary"
							>
								12
							</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link p-0 my-2 mx-2" href="#">
							<button
								style="width: 60px"
								type="button"
								class="btn btn-outline-secondary"
							>
								12.5
							</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link p-0 my-2 mx-2" href="#">
							<button
								style="width: 60px"
								type="button"
								class="btn btn-outline-secondary"
							>
								13
							</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link p-0 my-2 mx-2" href="#">
							<button
								style="width: 60px"
								type="button"
								class="btn btn-outline-secondary"
							>
								13.5
							</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link p-0 my-2 mx-2" href="#">
							<button
								style="width: 60px"
								type="button"
								class="btn btn-outline-secondary"
							>
								14
							</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link p-0 my-2 mx-2" href="#">
							<button
								style="width: 60px"
								type="button"
								class="btn btn-outline-secondary"
							>
								14.5
							</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link p-0 my-2 mx-2" href="#">
							<button
								style="width: 60px"
								type="button"
								class="btn btn-outline-secondary"
							>
								15
							</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link p-0 my-2 mx-2" href="#">
							<button
								style="width: 60px"
								type="button"
								class="btn btn-outline-secondary"
							>
								15.5
							</button>
						</a>
					</li>
				</ul>
				<a href="#" class="d-block mb-4 text-secondary text-center"
					>Guía de tallas</a
				>

				<div class="d-flex justify-content-center mb-5">
					<select class="form-select me-3" style="width: 60px">
						<option selected value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
					<button type="button" class="btn btn-danger w-50">
						Añadir al carrito
					</button>
				</div>
			</section>

			<section class="mb-3 d-md-none">
				<div class="accordion" id="accordionExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
							<button
								class="accordion-button fw-bold"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#collapseOne"
								aria-expanded="true"
								aria-controls="collapseOne"
							>
								Descripción del producto
							</button>
						</h2>
						<div
							id="collapseOne"
							class="accordion-collapse collapse show"
							aria-labelledby="headingOne"
							data-bs-parent="#accordionExample"
						>
							<div class="accordion-body">
								<%= producto.description %>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingTwo">
							<button
								class="accordion-button collapsed fw-bold"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#collapseTwo"
								aria-expanded="false"
								aria-controls="collapseTwo"
							>
								Especificaciones
							</button>
						</h2>
						<div
							id="collapseTwo"
							class="accordion-collapse collapse"
							aria-labelledby="headingTwo"
							data-bs-parent="#accordionExample"
						>
							<div class="accordion-body">
								<ul>
									<li>Material: <%= producto.specifications[0] %></li>
									<li>Peso: <%= producto.specifications[1] %></li>
									<li>Procedencia: <%= producto.specifications[2] %></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="mb-5 d-md-none">
				<div class="accordion" id="accordionExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingThree">
							<button
								class="accordion-button collapsed fw-bold"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#collapseThree"
								aria-expanded="false"
								aria-controls="collapseThree"
							>
								Product review
							</button>
						</h2>
						<div
							id="collapseThree"
							class="accordion-collapse collapse text-center"
							aria-labelledby="headingThree"
							data-bs-parent="#accordionExample"
						>
							<div class="accordion-body mx-auto">
								<div
									class="btn-group d-flex flex-wrap mb-3"
									role="group"
									aria-label="Basic radio toggle button group"
								>
									<input
										type="radio"
										class="btn-check"
										name="btnradio"
										id="btnradio1"
										autocomplete="off"
									/>
									<label
										class="btn btn-outline-primary d-flex justify-content-center align-items-center"
										for="btnradio1"
									>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="20"
											height="20"
											fill="currentColor"
											class="bi bi-star"
											viewBox="0 0 16 16"
										>
											<path
												d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
											/>
										</svg>
										<div class="ms-2">1</div>
									</label>
									<input
										type="radio"
										class="btn-check"
										name="btnradio"
										id="btnradio2"
										autocomplete="off"
									/>
									<label
										class="btn btn-outline-primary d-flex justify-content-center align-items-center"
										for="btnradio2"
									>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="20"
											height="20"
											fill="currentColor"
											class="bi bi-star"
											viewBox="0 0 16 16"
										>
											<path
												d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
											/>
										</svg>
										<div class="ms-2">2</div>
									</label>
									<input
										type="radio"
										class="btn-check"
										name="btnradio"
										id="btnradio3"
										autocomplete="off"
									/>
									<label
										class="btn btn-outline-primary d-flex justify-content-center align-items-center"
										for="btnradio3"
									>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="20"
											height="20"
											fill="currentColor"
											class="bi bi-star"
											viewBox="0 0 16 16"
										>
											<path
												d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
											/>
										</svg>
										<div class="ms-2">3</div>
									</label>
									<input
										type="radio"
										class="btn-check"
										name="btnradio"
										id="btnradio4"
										autocomplete="off"
									/>
									<label
										class="btn btn-outline-primary d-flex justify-content-center align-items-center"
										for="btnradio4"
									>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="20"
											height="20"
											fill="currentColor"
											class="bi bi-star"
											viewBox="0 0 16 16"
										>
											<path
												d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
											/>
										</svg>
										<div class="ms-2">4</div>
									</label>
									<input
										type="radio"
										class="btn-check"
										name="btnradio"
										id="btnradio5"
										autocomplete="off"
										checked
									/>
									<label
										class="btn btn-outline-primary d-flex justify-content-center align-items-center"
										for="btnradio5"
									>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="20"
											height="20"
											fill="currentColor"
											class="bi bi-star"
											viewBox="0 0 16 16"
										>
											<path
												d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
											/>
										</svg>
										<div class="ms-2">5</div>
									</label>
								</div>
								<!--Messi-->
								<div
									class="card mb-3 text-center mx-auto d-sm-none"
									style="max-width: 540px"
								>
									<div
										class="d-flex align-items-center justify-content-center flex-wrap"
									>
										<div class="text-center mx-3" style="min-width: 90px">
											<img
												src="/imagenes/messi.png"
												class="img-fluid"
												alt="messi"
												style="width: 90px; height: 90px; border-radius: 100%"
											/>
										</div>
										<div class="" style="max-width: 500px">
											<div class="card-body w-100">
												<h5 class="card-title">Lionel Messi</h5>
												<p class="card-text">
													Esta ha sido la mejor gorra que he comprado en mi
													vida, con ella ando siempre antes del cotejo y me da
													buena suerte.
												</p>
												<p class="card-text">
													<small class="text-muted"
														>Last updated 3 mins ago</small
													>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div
									class="card mb-3 text-center mx-auto d-none d-sm-block"
									style="max-width: 540px"
								>
									<div
										class="d-flex align-items-center justify-content-center flex-nowrap"
									>
										<div class="text-center mx-3" style="min-width: 90px">
											<img
												src="/imagenes/messi.png"
												class="img-fluid"
												alt="messi"
												style="width: 90px; height: 90px; border-radius: 100%"
											/>
										</div>
										<div class="" style="max-width: 500px">
											<div class="card-body w-100">
												<h5 class="card-title">Lionel Messi</h5>
												<p class="card-text">
													Esta ha sido la mejor gorra que he comprado en mi
													vida, con ella ando siempre antes del cotejo y me da
													buena suerte.
												</p>
												<p class="card-text">
													<small class="text-muted"
														>Last updated 3 mins ago</small
													>
												</p>
											</div>
										</div>
									</div>
								</div>
								<!--Ronaldinho-->
								<div
									class="card mb-3 text-center mx-auto d-sm-none"
									style="max-width: 540px"
								>
									<div
										class="d-flex align-items-center justify-content-center flex-wrap"
									>
										<div class="text-center mx-3" style="min-width: 90px">
											<img
												src="/imagenes/ronaldinho.jpg"
												class="img-fluid"
												alt="messi"
												style="width: 90px; height: 90px; border-radius: 100%"
											/>
										</div>
										<div class="" style="max-width: 500px">
											<div class="card-body w-100">
												<h5 class="card-title">Ronaldinho Gaúcho</h5>
												<p class="card-text">
													Es una prenda muy buena para ir a los entrenamientos
													con el mejor etilo del joga bonito.
												</p>
												<p class="card-text">
													<small class="text-muted"
														>Last updated 2 days ago</small
													>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div
									class="card mb-3 text-center mx-auto d-none d-sm-block"
									style="max-width: 540px"
								>
									<div
										class="d-flex align-items-center justify-content-center flex-nowrap"
									>
										<div class="text-center mx-3" style="min-width: 90px">
											<img
												src="/imagenes/ronaldinho.jpg"
												class="img-fluid"
												alt="messi"
												style="width: 90px; height: 90px; border-radius: 100%"
											/>
										</div>
										<div class="" style="max-width: 500px">
											<div class="card-body w-100">
												<h5 class="card-title">Ronaldinho Gaúcho</h5>
												<p class="card-text">
													Es una prenda muy buena para ir a los entrenamientos
													con el mejor etilo del joga bonito.
												</p>
												<p class="card-text">
													<small class="text-muted"
														>Last updated 2 days ago</small
													>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Carrusel de la versión mobile-->
			<section class="d-md-none">
				<h4 class="mb-4">Quizás también le interese...</h4>
				<div
					id="carouselExampleDark"
					class="carousel carousel-dark slide d-md-none w-75 mx-auto"
					data-bs-ride="carousel"
				>
					<div class="carousel-inner shadow" data-bs-interval="2000">
						<div class="carousel-item active">
							<img
								src="/imagenes/products/<%= random1.image %>"
								class="card-img-top"
								alt="<%= random1.name %>"
							/>
							<div class="card-body p-3 border-top" style="background-color: white;">
								<h5 class="card-title"><%= random1.name %></h5>
								<p class="card-text">$<%= random1.price %></p>
								<p
									class="card-text text-success d-flex justify-content-between"
								>
									<%= random1.discount %>% OFF
									<button type="button" class="btn btn-outline-success ms-5">
										Comprar
									</button>
								</p>
							</div>
						</div>
						<div class="carousel-item" data-bs-interval="2000">
							<img
								src="/imagenes/products/<%= random2.image %>"
								class="card-img-top"
								alt="<%= random2.name %>"
							/>
							<div class="card-body p-3 border-top" style="background-color: white;">
								<h5 class="card-title"><%= random2.name %></h5>
								<p class="card-text">$<%= random2.price %></p>
								<p
									class="card-text text-success d-flex justify-content-between"
								>
									<%= random2.discount %>% OFF
									<button type="button" class="btn btn-outline-success ms-5">
										Comprar
									</button>
								</p>
							</div>
						</div>
						<div class="carousel-item" data-bs-interval="2000">
							<img
								src="/imagenes/products/<%= random3.image %>"
								class="card-img-top"
								alt="<%= random3.name %>"
							/>
							<div class="card-body p-3 border-top" style="background-color: white;">
								<h5 class="card-title"><%= random3.name %></h5>
								<p class="card-text">$<%= random3.price %></p>
								<p
									class="card-text text-success d-flex justify-content-between"
								>
									<%= random3.discount %>% OFF
									<button type="button" class="btn btn-outline-success ms-5">
										Comprar
									</button>
								</p>
							</div>
						</div>
					</div>
					<button
						class="carousel-control-prev"
						type="button"
						data-bs-target="#carouselExampleDark"
						data-bs-slide="prev"
					>
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button
						class="carousel-control-next"
						type="button"
						data-bs-target="#carouselExampleDark"
						data-bs-slide="next"
					>
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</section>

			<!--Esto se muestra después del breakpoint de 576px sm-->

			<!-- Esto se muestra después del breakpoint de 768px md-->
			<section class="mx-3 w-75 d-none d-md-block">
				<div class="row-12 mb-3">
					<img src="/imagenes/products/<%= producto.image %>" class="img-thumbnail w-100" alt="<%= producto.name %>" />
				</div>
				<div class="row mb-3">
					<div class="col-md-6">
						<img src="/imagenes/products/<%= producto.image %>" class="img-thumbnail w-100" alt="<%= producto.name %>" />
					</div>
					<div class="col-md-6">
						<img src="/imagenes/products/<%= producto.image %>" class="img-thumbnail w-100" alt="<%= producto.name %>" />
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-6">
						<img src="/imagenes/products/<%= producto.image %>" class="img-thumbnail w-100" alt="<%= producto.name %>" />
					</div>
					<div class="col-md-6">
						<img src="/imagenes/products/<%= producto.image %>" class="img-thumbnail w-100" alt="<%= producto.name %>" />
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-6">
						<section>
							<div class="accordion" id="accordionExample">
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingOne">
										<button
											class="accordion-button fw-bold"
											type="button"
											data-bs-toggle="collapse"
											data-bs-target="#collapseOne"
											aria-expanded="true"
											aria-controls="collapseOne"
										>
											Descripción del producto
										</button>
									</h2>
									<div
										id="collapseOne"
										class="accordion-collapse collapse show"
										aria-labelledby="headingOne"
										data-bs-parent="#accordionExample"
									>
										<div class="accordion-body">
											<%= producto.description %>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingTwo">
										<button
											class="accordion-button collapsed fw-bold"
											type="button"
											data-bs-toggle="collapse"
											data-bs-target="#collapseTwo"
											aria-expanded="false"
											aria-controls="collapseTwo"
										>
											Especificaciones
										</button>
									</h2>
									<div
										id="collapseTwo"
										class="accordion-collapse collapse"
										aria-labelledby="headingTwo"
										data-bs-parent="#accordionExample"
									>
										<div class="accordion-body">
											<ul>
												<li>Material: <%= producto.specifications[0] %></li>
												<li>Peso: <%= producto.specifications[1] %></li>
												<li>Procedencia: <%= producto.specifications[2] %></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="col-md-6">
						<img src="/imagenes/products/<%= producto.image %>" class="img-thumbnail w-100" alt="<%= producto.name %>" />
					</div>
				</div>
				<div class="row-12 mb-3">
					<section class="mb-5">
						<div class="accordion" id="accordionExample">
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingThree">
									<button
										class="accordion-button collapsed fw-bold"
										type="button"
										data-bs-toggle="collapse"
										data-bs-target="#collapseThree"
										aria-expanded="false"
										aria-controls="collapseThree"
									>
										Product review
									</button>
								</h2>
								<div
									id="collapseThree"
									class="accordion-collapse collapse text-center"
									aria-labelledby="headingThree"
									data-bs-parent="#accordionExample"
								>
									<div class="accordion-body mx-auto">
										<div
											class="btn-group d-flex flex-wrap mb-3"
											role="group"
											aria-label="Basic radio toggle button group"
										>
											<input
												type="radio"
												class="btn-check"
												name="btnradio"
												id="btnradio1"
												autocomplete="off"
											/>
											<label
												class="btn btn-outline-primary d-flex justify-content-center align-items-center"
												for="btnradio1"
											>
												<svg
													xmlns="http://www.w3.org/2000/svg"
													width="20"
													height="20"
													fill="currentColor"
													class="bi bi-star"
													viewBox="0 0 16 16"
												>
													<path
														d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
													/>
												</svg>
												<div class="ms-2">1</div>
											</label>
											<input
												type="radio"
												class="btn-check"
												name="btnradio"
												id="btnradio2"
												autocomplete="off"
											/>
											<label
												class="btn btn-outline-primary d-flex justify-content-center align-items-center"
												for="btnradio2"
											>
												<svg
													xmlns="http://www.w3.org/2000/svg"
													width="20"
													height="20"
													fill="currentColor"
													class="bi bi-star"
													viewBox="0 0 16 16"
												>
													<path
														d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
													/>
												</svg>
												<div class="ms-2">2</div>
											</label>
											<input
												type="radio"
												class="btn-check"
												name="btnradio"
												id="btnradio3"
												autocomplete="off"
											/>
											<label
												class="btn btn-outline-primary d-flex justify-content-center align-items-center"
												for="btnradio3"
											>
												<svg
													xmlns="http://www.w3.org/2000/svg"
													width="20"
													height="20"
													fill="currentColor"
													class="bi bi-star"
													viewBox="0 0 16 16"
												>
													<path
														d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
													/>
												</svg>
												<div class="ms-2">3</div>
											</label>
											<input
												type="radio"
												class="btn-check"
												name="btnradio"
												id="btnradio4"
												autocomplete="off"
											/>
											<label
												class="btn btn-outline-primary d-flex justify-content-center align-items-center"
												for="btnradio4"
											>
												<svg
													xmlns="http://www.w3.org/2000/svg"
													width="20"
													height="20"
													fill="currentColor"
													class="bi bi-star"
													viewBox="0 0 16 16"
												>
													<path
														d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
													/>
												</svg>
												<div class="ms-2">4</div>
											</label>
											<input
												type="radio"
												class="btn-check"
												name="btnradio"
												id="btnradio5"
												autocomplete="off"
												checked
											/>
											<label
												class="btn btn-outline-primary d-flex justify-content-center align-items-center"
												for="btnradio5"
											>
												<svg
													xmlns="http://www.w3.org/2000/svg"
													width="20"
													height="20"
													fill="currentColor"
													class="bi bi-star"
													viewBox="0 0 16 16"
												>
													<path
														d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
													/>
												</svg>
												<div class="ms-2">5</div>
											</label>
										</div>
										<!--Messi-->
										<div
											class="card mb-3 text-center mx-auto d-sm-none"
											style="max-width: 540px"
										>
											<div
												class="d-flex align-items-center justify-content-center flex-wrap"
											>
												<div class="text-center mx-3" style="min-width: 90px">
													<img
														src="/imagenes/messi.png"
														class="img-fluid"
														alt="messi"
														style="
															width: 90px;
															height: 90px;
															border-radius: 100%;
														"
													/>
												</div>
												<div class="" style="max-width: 500px">
													<div class="card-body w-100">
														<h5 class="card-title">Lionel Messi</h5>
														<p class="card-text">
															Esta ha sido la mejor gorra que he comprado en mi
															vida, con ella ando siempre antes del cotejo y me
															da buena suerte.
														</p>
														<p class="card-text">
															<small class="text-muted"
																>Last updated 3 mins ago</small
															>
														</p>
													</div>
												</div>
											</div>
										</div>
										<div
											class="card mb-3 text-center mx-auto d-none d-sm-block"
											style="max-width: 540px"
										>
											<div
												class="d-flex align-items-center justify-content-center flex-nowrap"
											>
												<div class="text-center mx-3" style="min-width: 90px">
													<img
														src="/imagenes/messi.png"
														class="img-fluid"
														alt="messi"
														style="
															width: 90px;
															height: 90px;
															border-radius: 100%;
														"
													/>
												</div>
												<div class="" style="max-width: 500px">
													<div class="card-body w-100">
														<h5 class="card-title">Lionel Messi</h5>
														<p class="card-text">
															Esta ha sido la mejor gorra que he comprado en mi
															vida, con ella ando siempre antes del cotejo y me
															da buena suerte.
														</p>
														<p class="card-text">
															<small class="text-muted"
																>Last updated 3 mins ago</small
															>
														</p>
													</div>
												</div>
											</div>
										</div>
										<!--Ronaldinho-->
										<div
											class="card mb-3 text-center mx-auto d-sm-none"
											style="max-width: 540px"
										>
											<div
												class="d-flex align-items-center justify-content-center flex-wrap"
											>
												<div class="text-center mx-3" style="min-width: 90px">
													<img
														src="/imagenes/ronaldinho.jpg"
														class="img-fluid"
														alt="messi"
														style="
															width: 90px;
															height: 90px;
															border-radius: 100%;
														"
													/>
												</div>
												<div class="" style="max-width: 500px">
													<div class="card-body w-100">
														<h5 class="card-title">Ronaldinho Gaúcho</h5>
														<p class="card-text">
															Es una prenda muy buena para ir a los
															entrenamientos con el mejor estilo del joga bonito.
														</p>
														<p class="card-text">
															<small class="text-muted"
																>Last updated 2 days ago</small
															>
														</p>
													</div>
												</div>
											</div>
										</div>
										<div
											class="card mb-3 text-center mx-auto d-none d-sm-block"
											style="max-width: 540px"
										>
											<div
												class="d-flex align-items-center justify-content-center flex-nowrap"
											>
												<div class="text-center mx-3" style="min-width: 90px">
													<img
														src="/imagenes/ronaldinho.jpg"
														class="img-fluid"
														alt="messi"
														style="
															width: 90px;
															height: 90px;
															border-radius: 100%;
														"
													/>
												</div>
												<div class="" style="max-width: 500px">
													<div class="card-body w-100">
														<h5 class="card-title">Ronaldinho Gaúcho</h5>
														<p class="card-text">
															Es una prenda muy buena para ir a los
															entrenamientos con el mejor etilo del joga bonito.
														</p>
														<p class="card-text">
															<small class="text-muted"
																>Last updated 2 days ago</small
															>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>

				<!-- Este es el container de la versión md-->
				<div class="row-12 mb-3 d-lg-none">
					<section class="container">
						<h4 class="mb-4">Quizás también le interese...</h4>
						<div
							id="carouselExampleDark"
							class="carousel carousel-dark slide w-100 mx-auto"
							data-bs-ride="carousel"
						>
							<div
								class="carousel-inner shadow"
								data-bs-interval="2000"
								style="max-height: 39rem"
							>
								<div class="carousel-item active">
									<div class="row">
										<div class="col-md-6">
											<img
												src="/imagenes/products/<%= random1.image %>"
												class="card-img-top"
												alt="<%= random1.name %>"
											/>
											<div class="card-body p-3 border-top" style="background-color: white;">
												<h5 class="card-title"><%= random1.name %></h5>
												<p class="card-text">$<%= random1.price %></p>
												<p
													class="card-text text-success d-flex justify-content-between"
												>
													<%= random1.discount %>% OFF
													<button
														type="button"
														class="btn btn-outline-success ms-5"
													>
														Comprar
													</button>
												</p>
											</div>
										</div>
										<div class="col-md-6">
											<img
												src="/imagenes/products/<%= random2.image %>"
												class="card-img-top"
												alt="<%= random2.name %>"
											/>
											<div class="card-body p-3 border-top" style="background-color: white;">
												<h5 class="card-title"><%= random2.name %></h5>
												<p class="card-text">$<%= random2.price %></p>
												<p
													class="card-text text-success d-flex justify-content-between"
												>
													<%= random2.discount %>% OFF
													<button
														type="button"
														class="btn btn-outline-success ms-5"
													>
														Comprar
													</button>
												</p>
											</div>
										</div>
									</div>
								</div>

								<div class="carousel-item">
									<div class="row">
										<div class="col-md-6">
											<img
												src="/imagenes/products/<%= random2.image %>"
												class="card-img-top"
												alt="<%= random2.name %>"
											/>
											<div class="card-body p-3 border-top" style="background-color: white;">
												<h5 class="card-title"><%= random2.name %></h5>
												<p class="card-text">$<%= random2.price %></p>
												<p
													class="card-text text-success d-flex justify-content-between"
												>
													<%= random2.discount %>% OFF
													<button
														type="button"
														class="btn btn-outline-success ms-5"
													>
														Comprar
													</button>
												</p>
											</div>
										</div>
										<div class="col-md-6">
											<img
												src="/imagenes/products/<%= random3.image %>"
												class="card-img-top"
												alt="<%= random3.name %>"
											/>
											<div class="card-body p-3 border-top" style="background-color: white;">
												<h5 class="card-title"><%= random3.name %></h5>
												<p class="card-text">$<%= random3.price %></p>
												<p
													class="card-text text-success d-flex justify-content-between"
												>
													<%= random3.discount %>% OFF
													<button
														type="button"
														class="btn btn-outline-success ms-5"
													>
														Comprar
													</button>
												</p>
											</div>
										</div>
									</div>
								</div>

								<div class="carousel-item">
									<div class="row">
										<div class="col-md-6">
											<img
												src="/imagenes/products/<%= random3.image %>"
												class="card-img-top"
												alt="<%= random3.name %>"
											/>
											<div class="card-body p-3 border-top" style="background-color: white;">
												<h5 class="card-title"><%= random3.name %></h5>
												<p class="card-text">$<%= random3.price %></p>
												<p
													class="card-text text-success d-flex justify-content-between"
												>
													<%= random3.discount %>% OFF
													<button
														type="button"
														class="btn btn-outline-success ms-5"
													>
														Comprar
													</button>
												</p>
											</div>
										</div>
										<div class="col-md-6">
											<img
												src="/imagenes/products/<%= random1.image %>"
												class="card-img-top"
												alt="<%= random1.name %>"
											/>
											<div class="card-body p-3 border-top" style="background-color: white;">
												<h5 class="card-title"><%= random1.name %></h5>
												<p class="card-text">$<%= random1.price %></p>
												<p
													class="card-text text-success d-flex justify-content-between"
												>
													<%= random1.discount %>% OFF
													<button
														type="button"
														class="btn btn-outline-success ms-5"
													>
														Comprar
													</button>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<button
								class="carousel-control-prev"
								type="button"
								data-bs-target="#carouselExampleDark"
								data-bs-slide="prev"
							>
								<span
									class="carousel-control-prev-icon"
									aria-hidden="true"
								></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button
								class="carousel-control-next"
								type="button"
								data-bs-target="#carouselExampleDark"
								data-bs-slide="next"
							>
								<span
									class="carousel-control-next-icon"
									aria-hidden="true"
								></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>
					</section>
				</div>

				<!-- Este es el container de la versión lg-->
				<div class="row-12 mb-3 d-md-none d-lg-block">
					<section class="container">
						<h4 class="mb-4">Quizás también le interese...</h4>
						<div
							id="carouselExampleDark"
							class="carousel carousel-dark slide w-100 mx-auto"
							data-bs-ride="carousel"
						>
							<div
								class="carousel-inner shadow"
								data-bs-interval="2000"
								style="max-height: 39rem"
							>
								<div class="carousel-item active">
									<div class="row">
										<div class="col-lg-4">
											<img
												src="/imagenes/products/<%= random1.image %>"
												class="card-img-top"
												alt="<%= random1.name %>"
											/>
											<div class="card-body p-3 border-top" style="background-color: white;">
												<h5 class="card-title"><%= random1.name %></h5>
												<p class="card-text">$<%= random1.price %></p>
												<p
													class="card-text text-success d-flex justify-content-between"
												>
													<%= random1.discount %>% OFF
													<button
														type="button"
														class="btn btn-outline-success ms-5"
													>
														Comprar
													</button>
												</p>
											</div>
										</div>
										<div class="col-lg-4">
											<img
												src="/imagenes/products/<%= random2.image %>"
												class="card-img-top"
												alt="<%= random2.name %>"
											/>
											<div class="card-body p-3 border-top" style="background-color: white;">
												<h5 class="card-title"><%= random2.name %></h5>
												<p class="card-text">$<%= random2.price %></p>
												<p
													class="card-text text-success d-flex justify-content-between"
												>
													<%= random2.discount %>% OFF
													<button
														type="button"
														class="btn btn-outline-success ms-5"
													>
														Comprar
													</button>
												</p>
											</div>
										</div>
										<div class="col-lg-4">
											<img
												src="/imagenes/products/<%= random3.image %>"
												class="card-img-top"
												alt="<%= random3.name %>"
											/>
											<div class="card-body p-3 border-top" style="background-color: white;">
												<h5 class="card-title"><%= random3.name %></h5>
												<p class="card-text">$<%= random3.price %></p>
												<p
													class="card-text text-success d-flex justify-content-between"
												>
													<%= random3.discount %>% OFF
													<button
														type="button"
														class="btn btn-outline-success ms-5"
													>
														Comprar
													</button>
												</p>
											</div>
										</div>
									</div>
								</div>

								<div class="carousel-item">
									<div class="row">
										<div class="col-lg-4">
											<img
												src="/imagenes/products/<%= random3.image %>"
												class="card-img-top"
												alt="<%= random3.name %>"
											/>
											<div class="card-body p-3 border-top" style="background-color: white;">
												<h5 class="card-title"><%= random3.name %></h5>
												<p class="card-text">$<%= random3.price %></p>
												<p
													class="card-text text-success d-flex justify-content-between"
												>
													<%= random3.discount %>% OFF
													<button
														type="button"
														class="btn btn-outline-success ms-5"
													>
														Comprar
													</button>
												</p>
											</div>
										</div>
										<div class="col-lg-4">
											<img
												src="/imagenes/products/<%= random1.image %>"
												class="card-img-top"
												alt="<%= random1.name %>"
											/>
											<div class="card-body p-3 border-top" style="background-color: white;">
												<h5 class="card-title"><%= random1.name %></h5>
												<p class="card-text">$<%= random1.price %></p>
												<p
													class="card-text text-success d-flex justify-content-between"
												>
													<%= random1.discount %>% OFF
													<button
														type="button"
														class="btn btn-outline-success ms-5"
													>
														Comprar
													</button>
												</p>
											</div>
										</div>
										<div class="col-lg-4">
											<img
												src="/imagenes/products/<%= random2.image %>"
												class="card-img-top"
												alt="<%= random2.name %>"
											/>
											<div class="card-body p-3 border-top" style="background-color: white;">
												<h5 class="card-title"><%= random2.name %></h5>
												<p class="card-text">$<%= random2.price %></p>
												<p
													class="card-text text-success d-flex justify-content-between"
												>
													<%= random2.discount %>% OFF
													<button
														type="button"
														class="btn btn-outline-success ms-5"
													>
														Comprar
													</button>
												</p>
											</div>
										</div>
									</div>
								</div>

								<div class="carousel-item">
									<div class="row">
										<div class="col-lg-4">
											<img
												src="/imagenes/products/<%= random2.image %>"
												class="card-img-top"
												alt="<%= random2.name %>"
											/>
											<div class="card-body p-3 border-top" style="background-color: white;">
												<h5 class="card-title"><%= random2.name %></h5>
												<p class="card-text">$<%= random2.price %></p>
												<p
													class="card-text text-success d-flex justify-content-between"
												>
													<%= random2.discount %>% OFF
													<button
														type="button"
														class="btn btn-outline-success ms-5"
													>
														Comprar
													</button>
												</p>
											</div>
										</div>
										<div class="col-lg-4">
											<img
												src="/imagenes/products/<%= random3.image %>"
												class="card-img-top"
												alt="<%= random3.name %>"
											/>
											<div class="card-body p-3 border-top" style="background-color: white;">
												<h5 class="card-title"><%= random3.name %></h5>
												<p class="card-text">$<%= random3.price %></p>
												<p
													class="card-text text-success d-flex justify-content-between"
												>
													<%= random3.discount %>% OFF
													<button
														type="button"
														class="btn btn-outline-success ms-5"
													>
														Comprar
													</button>
												</p>
											</div>
										</div>
										<div class="col-lg-4">
											<img
												src="/imagenes/products/<%= random1.image %>"
												class="card-img-top"
												alt="<%= random1.name %>"
											/>
											<div class="card-body p-3 border-top" style="background-color: white;">
												<h5 class="card-title"><%= random1.name %></h5>
												<p class="card-text">$<%= random1.price %></p>
												<p
													class="card-text text-success d-flex justify-content-between"
												>
													<%= random1.discount %>% OFF
													<button
														type="button"
														class="btn btn-outline-success ms-5"
													>
														Comprar
													</button>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<button
								class="carousel-control-prev"
								type="button"
								data-bs-target="#carouselExampleDark"
								data-bs-slide="prev"
							>
								<span
									class="carousel-control-prev-icon"
									aria-hidden="true"
								></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button
								class="carousel-control-next"
								type="button"
								data-bs-target="#carouselExampleDark"
								data-bs-slide="next"
							>
								<span
									class="carousel-control-next-icon"
									aria-hidden="true"
								></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>
					</section>
				</div>
			</section>

			<section class="d-none d-md-block p-3 pt-5 w-25 border border-1 rounded" style="background-color: white">
				<div class="sticky-top">
					<nav
						style="
							--bs-breadcrumb-divider: url(
								&#34;data:image/svg + xml,
								%3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='%236c757d'/%3E%3C/svg%3E&#34;
							);
						"
						aria-label="breadcrumb"
					>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page"><%= producto.type %></li>
						</ol>
					</nav>
					<div class="d-flex flex-wrap justify-content-between align-items-center mb-3">
						<div class="d-flex justify-content-left align-items-center mb-2">
							<p class="my-0 me-3 fs-4 fw-bold"><%= producto.name %></p>
							<a href="#">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="25"
									height="25"
									fill="rgb(255, 240, 0)"
									class="bi bi-star me-3"
									viewBox="0 0 16 16"
								>
									<path
										d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
									/>
								</svg>
							</a>
						</div>

						<button class="bg-white">
							<a href="/products/edicionProducto/<%= producto.id %>" class="text-decoration-none text-dark"><i class="fa-solid fa-pen-to-square"></i></a>
						</button>
					</div>
	
					<p class="fs-4">$<%= producto.price %></p>
					<div class="text-center mb-4">
						<ul
							class="nav justify-content-center align-items-center mx-auto"
							style="max-width: 300px"
						>
							<li class="nav-item">
								<a class="nav-link p-0 my-2 mx-3" href="#">
									<button
										type="button"
										class="btn btn-light border"
										style="
											background-color: white;
											width: 30px;
											height: 30px;
											padding: 6px 0px;
											border-radius: 15px;
										"
									></button>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link p-0 my-2 mx-3" href="#">
									<button
										type="button"
										class="btn btn-light border"
										style="
											background-color: gray;
											width: 30px;
											height: 30px;
											padding: 6px 0px;
											border-radius: 15px;
										"
									></button>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link p-0 my-2 mx-3" href="#">
									<button
										type="button"
										class="btn btn-light border"
										style="
											background-color: blue;
											width: 30px;
											height: 30px;
											padding: 6px 0px;
											border-radius: 15px;
										"
									></button>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link p-0 my-2 mx-3" href="#">
									<button
										type="button"
										class="btn btn-light border"
										style="
											background-color: red;
											width: 30px;
											height: 30px;
											padding: 6px 0px;
											border-radius: 15px;
										"
									></button>
								</a>
							</li>
							<li class="nav-item">
								<a
									class="nav-link p-0 my-2 mx-3"
									href="#"
									data-toggle="dropdown"
									aria-haspopup="true"
									aria-expanded="true"
								>
									<button
										type="button"
										class="btn btn-light border"
										style="
											background-color: yellow;
											width: 30px;
											height: 30px;
											padding: 6px 0px;
											border-radius: 15px;
										"
									></button>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link p-0 my-2 mx-3" href="#">
									<button
										type="button"
										class="btn btn-light border"
										style="
											background-color: orange;
											width: 30px;
											height: 30px;
											padding: 6px 0px;
											border-radius: 15px;
										"
									></button>
								</a>
							</li>
						</ul>
						<label>Colores disponibles</label>
					</div>
					<p class="fs-4">Tallas</p>
					<ul
						class="nav justify-content-center align-items-center mx-auto mb-4"
					>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-2" href="#">
								<button
									style="width: 60px"
									type="button"
									class="btn btn-outline-secondary"
								>
									8
								</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-2" href="#">
								<button
									style="width: 60px"
									type="button"
									class="btn btn-outline-secondary"
								>
									8.5
								</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-2" href="#">
								<button
									style="width: 60px"
									type="button"
									class="btn btn-outline-secondary"
								>
									9
								</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-2" href="#">
								<button
									style="width: 60px"
									type="button"
									class="btn btn-outline-secondary"
								>
									9.5
								</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-2" href="#">
								<button
									style="width: 60px"
									type="button"
									class="btn btn-outline-secondary"
								>
									10
								</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-2" href="#">
								<button
									style="width: 60px"
									type="button"
									class="btn btn-outline-secondary text-center"
								>
									10.5
								</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-2" href="#">
								<button
									style="width: 60px"
									type="button"
									class="btn btn-outline-secondary"
								>
									11
								</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-2" href="#">
								<button
									style="width: 60px"
									type="button"
									class="btn btn-outline-secondary"
								>
									11.5
								</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-2" href="#">
								<button
									style="width: 60px"
									type="button"
									class="btn btn-outline-secondary"
								>
									12
								</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-2" href="#">
								<button
									style="width: 60px"
									type="button"
									class="btn btn-outline-secondary"
								>
									12.5
								</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-2" href="#">
								<button
									style="width: 60px"
									type="button"
									class="btn btn-outline-secondary"
								>
									13
								</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-2" href="#">
								<button
									style="width: 60px"
									type="button"
									class="btn btn-outline-secondary"
								>
									13.5
								</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-2" href="#">
								<button
									style="width: 60px"
									type="button"
									class="btn btn-outline-secondary"
								>
									14
								</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-2" href="#">
								<button
									style="width: 60px"
									type="button"
									class="btn btn-outline-secondary"
								>
									14.5
								</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-2" href="#">
								<button
									style="width: 60px"
									type="button"
									class="btn btn-outline-secondary"
								>
									15
								</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link p-0 my-2 mx-2" href="#">
								<button
									style="width: 60px"
									type="button"
									class="btn btn-outline-secondary"
								>
									15.5
								</button>
							</a>
						</li>
						<a href="#" class="d-block mb-4 text-secondary">Guía de tallas</a>
					</ul>
					<div class="d-flex justify-content-center flex-wrap">
						<select class="form-select me-2" style="width: 60px">
							<option selected value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
						<button type="button" class="btn btn-danger w-75">
							Añadir al carrito
						</button>
					</div>
				</div>
			</section>
		</main>

		<%-include('../partials/footer') %>
	</body>
</html>
