<!DOCTYPE html>
<html lang="es">
	<%-include('../partials/head') %>
	<body>
		<%-include('../partials/header') %> <%-include('../partials/nav') %>

		<main class="d-flex justify-content-around mx-auto">
			<form class="w-75" action="<%=producto.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
				<h2 class="p-3 text-center">Editar: <%=producto.name%></h2>

				<div class="mb-3">
					<label for="titleArticle" class="form-label text-primary"
						><strong>Nombre/Referencia del artículo</strong></label
					>
					<input
						type="text"
						name="name"
						class="form-control"
						id="titleArticle"
						value="<%=producto.name%>"
						required
					>
				</div>

				<div class="mb-3 d-flex justify-content-between flex-column flex-sm-row">
					<div>
						<label for="priceArticle" class="form-label text-primary">
							<strong>Precio $</strong>
						</label>
					<input
						type="number"
						name="price"
						class="form-control"
						id="priceArticle"
						value="<%=producto.price%>"
						required
						/>
					</div>
					<div>
						<label for="nameArticle" class="form-label text-primary">
							<strong>Descuento %</strong>
						</label>
						<input
							type="number"
							name="discount"
							class="form-control"
							id="nameArticle"
							value="<%=producto.discount%>"
							required
						/>
					</div>
				</div>

				<div class="mb-3">
					<label for="descriptionTextarea" class="form-label text-primary">
						<strong>Descripción</strong>
					</label>
					<textarea
						class="form-control"
						name="description"
						id="descriptionTextarea"
						required><%=producto.description%></textarea>
				</div>

				<div class="mb-3 d-flex justify-content-between flex-column flex-md-row">
					<div>
						<label for="materialArticle" class="form-label text-primary">
							<strong>Material</strong>
						</label>
						<input
							type="text"
							name="material"
							class="form-control"
							id="materialArticle"
							required
						/>
					</div>

					<div>
						<div>
							<label for="weightArticle" class="form-label text-primary">
								<strong>Peso (gr)</strong>
							</label>
							<input
								type="text"
								name="weight"
								class="form-control"
								id="weightArticle"
								required
							/>
						</div>
					</div>

					<div>
						<label for="originArticle" class="form-label text-primary">
							<strong>Origen</strong>
						</label>
						<input
							type="text"
							name="origin"
							class="form-control"
							id="originArticle"
							required
						/>
					</div>
				</div>

				<div class="mb-3 d-flex justify-content-between flex-column flex-md-row">
					<div>
						<label for="" class="form-label text-primary">
							<strong>Categoría</strong>
						</label>
						<select class="form-select" name="category" required aria-label="select example">
							<option value="">Selecciona un deporte</option>
							<option value="futbol">Fútbol</option>
							<option value="basketball">Basketball</option>
							<option value="tenis">Tenis</option>
							<option value="voleyball">Voleyball</option>
							<option value="natacion">Natación</option>
							<option value="Otros">Otros</option>
						</select>
					</div>
					<div>
						<label for="" class="form-label text-primary">
							<strong>Tipo</strong>
						</label>
						<select class="form-select" name="type" required aria-label="select example">
							<option value="">Selecciona una categoría</option>
							<option value="vestuario">Vestuario</option>
							<option value="zapatillas">Zapatillas</option>
							<option value="implementos">Implementos</option>
						</select>
					</div>
					
				</div>

				<div class="mb-3">
					<label for="colorArticle" class="form-label text-primary">
						<strong>Color (en inglés)</strong>
					</label>
					<input
						type="text"
						name="color"
						class="form-control"
						id="colorArticle"
						value="<%=producto.color%>"
						required
					/>
				</div>

				<div class="mb-3">
					<label for="" class="form-label text-primary">
						<strong>Imagen (opcional)</strong></label>
					<input
						type="file"
						name="image"
						class="form-control"
						aria-label="file example"
					/>
				</div>

				<div class="mb-3 d-flex justify-content-between flex-column flex-md-row mt-5 mb-5">
					<button class="btn btn-secondary col-3 w-auto m-2" type="submit">
						Editar producto
					</button>
					<button class="btn btn-secondary col-3 w-auto m-2" type="reset">
						Cancelar
					</button>
					<!--Modificar action con tag ejs correspondiente segun form de Edit -->
					<form action="/products/:id/?_method=delete" method="post">
						<button type="button" class="btn btn-danger col-3 w-auto m-2">
							Eliminar producto
						</button>
					</form>
				</div>
			</form>
		</main>

		<%-include('../partials/footer') %>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
			crossorigin="anonymous"
		></script>
	</body>
</html>
